body{
    font-family: Noto sans, sans-serif;
    background-color: #1F2937;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    gap: 64px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

button{
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #3B82F6;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
}

.links{
    color: #E5E7EB;
    width: auto;
    font-size: 18px;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 332px;
    flex-shrink: 0;
}

.section-first{
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    padding: 64px 0px;
    gap: 78px;
}

.section-first img{
    background-color: gray;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.signup-container{
    flex: 1 0 35%;
}

.signup-container h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.signup-container p{
    color: #E5E7EB;
    margin-top: 0px;
    font-size: 18px;
}

.signup-images{
    background-color: gray;
    display: flex;
    flex: 1 1 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.information{
    background-color: white;
    padding: 64px 350px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    text-align: center;
}

.illustrations{
    width: 100%;
    height: 100%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}

.info-item{
    width: 200px;
}

.info-item img{
    width: 200px;
    height: 200px;
    border: 4px solid #3B82F6;
    border-radius: 16px;
}

.quote-panel{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 150px 550px;
}

.quote-panel p{
    margin: 0px;
    color: #1F2937;
}

.quote{
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author{
    padding: 0px 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
}

.contact-panel{
    background-color: white;
    padding: 150px 332px;
    
}

.contact-form{
    padding: 48px;
    color: white;
    display: flex;
    flex-shrink: 3;
    background-color: #3B82F6;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.contact-form h1{
    font-size: 24px;
    margin-bottom: 0px;
}

.contact-form p{
    margin-top: 0px;
}

.contact-form button{
    border-color: white;
    border-style: solid;
}

footer{
    color: white;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

@media screen and (max-width: 1300px) {
    .contact-panel, .quote-panel{
        padding: 150px 0px;
    }
    .section-first, .information{
        padding: 64px 0px;
    }
    .wrapper{
        padding: 0px;
    }
}
